body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: rgb(243, 243, 243);
}

.nav {
  height: 70px;
  width: 100%;
  background-color: rgb(114, 173, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.logo {
  cursor: pointer;
  width: 20%;
}

.nav-list .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-list {
  width: 80%;
  text-align: center;
}

.nav-list ul {
  display: inline-flex;
  list-style: none;
  width: 80%;
}

.nav-list ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.nav-list ul li a {
  text-decoration: none;
  color: white;
}

.nav-list ul li:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.dropdown-menu {
  display: none;
}

.nav-list ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  background: rgb(114, 173, 0);
  margin-top: 15px;
  margin-left: -15px;
}

.nav-list ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
  margin-left: -15px;
}

.nav-list ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.nav-list ul li:hover .dropdown-menu ul li:last-child {
  border-bottom: none;
}

.nav-list ul li:hover .dropdown-menu ul li a:hover {
  color: rgb(0, 0, 0);
}

.welcome-image {
  width: 100%;
  height: 500px;
  background-image: url(../img/groceries-img-removebg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

.welcome-text {
  padding-top: 70px;
  color: black;
  font-size: 25px;
}

button {
  border: 0;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 200px;
  height: 50px;
}

#sub-heading {
  color: rgb(58, 43, 43);
  padding: 50px 0px 50px 0px;
  width: 100%;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 40px;
  /* grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 200px 100px 220px;
}

.grid-item {
  text-align: center;
  border: 0.1px solid;
  box-shadow: 3px 3px rgb(248, 191, 86);
  border-color: rgb(248, 191, 86);
  border-radius: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

.grid-img {
  width: 100%;
  display: block;
}

.grid-content p {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper-heading {
  color: black;
  padding: 50px 0px 50px 0px;
  width: 100%;
  text-align: center;
  background-color: rgb(114, 173, 0);
}

.wrapper {
  display: grid;
  grid-template-columns: 450px 450px;
  gap: 20px;
  justify-content: center;
  padding-bottom: 100px;
  background-color: rgb(114, 173, 0);
}

.wrapper-grid {
  background-color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
}

.wrapper-grid p {
  padding-right: 25px;
  padding-left: 25px;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: -5px;
  padding: 0px 100px 100px 100px;
}

.partners-img-wrapper {
  display: grid;
  justify-content: center;
}

footer {
  width: 100%;
  background-color: rgb(114, 173, 0);
}

.footer-sub-heading {
  text-align: center;
  padding-top: 20px;
}

.info {
  padding-top: 100px;
  padding-bottom: 100px;
}

.email-bar {
  width: 500px;
  height: 50px;
  border-radius: 50px;
  border: 0;
}

.submit-bar {
  margin-left: -70px;
  height: 30px;
  width: 60px;
  background: black;
  color: white;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

.footer-link ul {
  display: inline-flex;
}

.footer-link ul li {
  list-style: none;
  margin: 15px;
  padding: 5px;
}

.footer-link ul a {
  text-decoration: none;
  color: #fff;
}

.footer-link ul a:hover {
  color: rgb(114, 173, 0);
}
