body {
  margin: 0px;
  padding: 0px;
  background-image: url(/img/backgoung-blur-img6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  height: 1000px;
  display: flex;
  width: 1000px;
  align-content: center;
  margin-top: 250px;
}

.logo-container {
  background-image: url(../img/logo-container-imgae.png);
  height: 500px;
  width: 500px;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: white;
  opacity: 0.7;
  height: 500px;
  width: 500px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

label,
input,
button {
  display: block;
  margin: 10px;
}
.form-header {
  text-align: center;
}
