@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10%;
  color: #ffffff;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  align-items: center;
  padding: 0px 10px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: orange;
}

.hero {
  background-image: url(/img/img-1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-inner {
  margin: 0;
  color: white;
  font-weight: 100;
  font-size: 30px;
}

.hero-inner a {
  display: inline-table;
  margin: 5px 0px 50px 200px;
}

.button-link {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.button-link:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
